body {
  padding: 60px;
  font-family:cursive;
  background-color:rgb(98, 216, 236);
  background-image: url('./images/bg-lines.png');
}

input{
  width: 100%;
  color:darkslategrey;
  height: 1.6rem;
  font-size: large;

}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  background-color: lightcyan;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 300px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-width: 300px;
  max-height: 170px;
  width: fit-content;
}

.go-top {
	position: fixed;
	bottom: 3em;
	right: 8%;
	text-decoration: none;
	background-color: rgba(25, 0, 255, 0.3);
	font-size: 12px;
	padding: 1em;
  border-radius: 6px;
  border-color: rgba(38, 0, 255, 0.3);
}

.go-top:hover {
	background-color: rgba(38, 0, 255, 0.6);
}

.placeholder{
  text-align: center;
  font-size: 65px;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
}

/******************************************************************************************/

@media only screen and (max-width: 600px) {

  body, ol{
    padding: 0;
  }

  input{
    margin-right: 10px;
  }

  .card-grid{
    display: block;
  }
  
  .card{
    margin-right: 0px;
    max-width: none;
  }
  
  .card p {
    padding: 2px;
  }
  
  .card img {
    max-width: none;
    width:100%;
  }

  .go-top{
    right: 2%;
  }
}
